<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>

<body>

    <h1>Add Book</h1>
    <table class="table table-striped">
    <form action="/addbook" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}">
        Title: <input type="text" name="title" th:field="*{title}"><br>
        Author: <input type="text" name="author" th:field="*{author}"><br>
        Publication Year: <input type="number" name="publicationYear" th:field="*{publicationYear}"><br>
        ISBN: <input type="text" name="isbn" th:field="*{isbn}"><br>
        Price: <input type="text" name="price" th:field="*{price}"><br>
        Category: <select name="category.id" th:field=*{category}>
            <option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
        </select>
        <br>

        <br><button type="submit" class="btn btn-success">Add Book</button>
    </form>
</table>
    <a href="/booklist" class="btn btn-secondary">Back to booklist</a>
</body>

</html>
