<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add category</title>
</head>

<body>
    <div class="container">
        <h1>Add category</h1>
        <form action="/addcategory" method="post" th:object="${category}">
            <label for="name">Category name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required>
            <br>
            <button type="submit" class="btn btn-success">Add category</button>
        </form>
        <br>
        <a th:href="@{/categorylist}" class="btn btn-secondary">Back to category list</a>
    </div>
</body>

</html>