<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category list</title>
</head>

<body>
    <div class="container">
        <h1>Category list</h1>
        <table>
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.categoryId}"></td>
                    <td th:text="${category.name}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/addcategory" class="btn btn-success">Add category</a>
        <br>
        <a href="/addbook" class="btn btn-secondary">Back to book</a>
    </div>
</body>

</html>