<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>

<body>

    <h1>Edit Book</h1>

    <form action="/updateBook" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}">
        Title: <input type="text" name="title" th:field="*{title}"><br>
        Author: <input type="text" name="author" th:field="*{author}"><br>
        Publication Year: <input type="number" name="publicationYear" th:field="*{publicationYear}"><br>
        ISBN: <input type="text" name="isbn" th:field="*{isbn}"><br>
        Price: <input type="text" name="price" th:field="*{price}"><br>

        <button type="submit">Update Book</button>
    </form>

    <a href="/booklist">Back to booklist</a>

</body>

</html>
